//google fonts

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

//Typography

$fontFamily: "Poppins", sans-serif;

$fontSize-1: 4rem;
$fontSize-2: 3.2rem;
$fontSize-3: 2.4rem;
$fontSize-4: 2rem;
$fontSize-5: 1.8rem;
$fontSize-6: 1.6rem;
$fontSize-7: 1.4rem;

$weight-regular: 400;
$weight-medium: 500;
$weight-semiBold: 600;
$weight-bold: 700;
